.allScreen{
      background:linear-gradient(#1a1a1a, #000000);
  background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image{
    background-image: url('../../assets/teste.jpg');
    background-position: center;
    background-size: 140%;
    background-repeat: no-repeat;
    height:100vh;
    width: 65%;

}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
    width: 22%;
    gap: 20px;
}
.formulario h3{
    color: #7D8CFF;
    font-size: 28px;
    font-family: Montserrat, sans-serif

}
.logo{
    display: flex;
    align-items: center;
}
.logo svg{
    margin: 0 0px 0 -20px;
}
.form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;

}
.form input{
    border: solid 1px #4d4d4d8f;
    background-color: rgba(187, 187, 187, 0.103);
    padding: 12px;
    border-radius: 8px;
    outline: none;
color: #c9c9c9a2;

}
.check input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.forget{
    display: flex;
   align-items: center;
 gap: 60px;
}
.check{
    display: flex;
    gap: 5px;
    font-family: Inter, sans-serif;
    font-size: 13px;
    align-items: center;

color: #c9c9c9a2;
}
.forget a{
color: #7D8CFF;
    font-family: Inter, sans-serif;
    font-size: 13px;
    text-decoration: none;

}